{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md mb-3 s-b-r p-2">
            <ul class="list-group me-2 ms-3" style="max-height: 35rem; overflow-y: scroll;">
                <li><input type="text" class="form-control s-b-r" name="" id="search" placeholder="Keresés"></li>
                {% for elem in aliasok %}
                <li class="list-group-item list-group-item-action" id="list_li">{{ elem }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md">
            <form action="/add_alias", method="post">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Alias név" aria-label="Alias név"
                        aria-describedby="basic-addon2" name="alias_name">
                    <span class="input-group-text" id="basic-addon2">@domain.com</span>
                </div>
                <button class="btn btn-success">Felvétel a listára</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}